# --- ОСНОВНОЙ ВЕБ-ИНТЕРФЕЙС ---
streamlit==1.28.0
plotly==6.7.0

# --- ОБРАБОТКА ДАННЫХ И ТАБЛИЦ ---
pandas==2.3.3
numpy==1.26.4
openpyxl==3.1.2
pdfplumber==0.11.9

# --- ГРАФЫ И МАТЕМАТИКА ---
networkx==3.4.2

# --- ИСКУССТВЕННЫЙ ИНТЕЛЛЕКТ (ML/DL) ---
torch==2.9.0

# --- ТЕСТИРОВАНИЕ И КАЧЕСТВО (QA) ---
pytest==8.3.5
pytest-cov==7.1.0